*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.menu-name{
    font-size: 24px;
    font-weight: bold;
}
nav{
    background: #F1F3FF;
}
.logo{
    background: #0D28A6;
    width: 100px;
    height: 34px;
    justify-content: center;
    margin-left: 70px;
}
.navbar{
    background: #F1F3FF;
    padding: 20px;
}
.nav-menu{
    margin-left: 670px;
    gap: 30px;
}
.navbar a{
    text-decoration: none;
    color: black;
}
.btn-register{
    background-color: #5CB85F;
}
.content{
    /* background-color: firebrick; */
    padding-top: 70px;
}
.description{
    background: #F1F3FF;
    padding: 50px;
    z-index: -999;
    
}
.description .btn{
    background-color: #5CB85F;
}
.description p{
    text-align: justify;
    width: 85%;
}
.car_image{
    background: #F1F3FF;
    z-index: -999;
}
.car_image img{
    position: absolute;
    width: 704px;
    height: 392px;
    right: 0%;
    z-index: 2;
}
.cari-mobil{
    margin-top: -50px;
}
.box{
    /* border: 1px dashed grey; */
    background-color: white;
    border-radius: 10px;
    width: 1200px;
    height: 100px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 30px;
    margin-bottom: 50px;
    box-shadow: 1px 1px 1px 1px rgba(199, 182, 182, 0.8);
}
.box .row{
    padding-bottom: 30px;
}
.box .btn{
    background-color: #5CB85F !important;
}
option:hover{
    background-color: #5CB85F !important;
}
footer{
    padding-top: 20px;
    /* background-color: green; */
    padding-left: 100px;
    padding-right: 100px;
}
footer a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
footer img{
    margin-right: 10px;
}

.content-car{
     padding-left: 160px;
     /* border: 1px solid black; */
}
.content-car .card{
    height: 550px;
}
.car-card{
    width: 20rem;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.car-card .card-text{
    height: 100px;
}
.car-card p{
    padding-left: 10px;
    padding-right: 10px;
}

.car-card .card-img-top{
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.car-card .btn{
    display: flex;
    justify-content: center;
    width: 294.5px;
    background-color: #5CB85F !important;
    padding-bottom: 10px;
}

.card .ikon{
    margin-right: 10px;
}