*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.menu-name{
    font-size: 24px;
    font-weight: bold;
}
nav{
    background: #F1F3FF;
}
.logo{
    background: #0D28A6;
    width: 100px;
    height: 34px;
    justify-content: center;
    margin-left: 70px;
}
.navbar{
    background: #F1F3FF;
    padding: 20px;
}
.nav-menu{
    margin-left: 670px;
    gap: 30px;
}
.navbar a{
    text-decoration: none;
    color: black;
}
.btn-register{
    background-color: #5CB85F !important;
}

.top-content{
    padding-top: 50px;
}
.description{
    background: #F1F3FF;
    padding: 100px;
    z-index: 0;
}
.description .btn{
    background-color: #5CB85F;
}
.description p{
    text-align: justify;
    width: 85%;
    margin-left: 50px;
}
.car_image{
    background: #F1F3FF;
    z-index: -1;
}
.car_image img{
    position: absolute;
    width: 704px;
    height: 410px;
    right: 0%;
}

.box{
    /* border: 1px dashed grey; */
    background-color: white;
    border-radius: 10px;
    width: 1200px;
    height: 100px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: -50px;
    padding: 30px;
    margin-bottom: 50px;
    box-shadow: 1px 1px 1px 1px rgba(199, 182, 182, 0.8);
    z-index: 4;
}
.box .btn{
    background-color: #5CB85F !important;
}

.our-service .woman-img{
    align-items: flex-end;
    padding: 30px;
    margin-left: 15%;
    padding-top: 100px;
}
.our-service .check-img{
    margin-right: 10px;
}
.our-service .service-content{
    width: 45%;
    padding: 100px;
    left: 0px;
    top: 0px;
    text-align: justify;
}
.why_us{
    /* background-color: blue; */
    padding-top: 20px;
    padding-bottom: 20px;
}
.why_us .whyus-content{
    margin-left: 100px;
    text-align: justify;
}
.why_us .benefit{
    text-align: justify;
    gap: 0px;
}
.why_us img{
    width: 32px;
    height: 32px;
    left: 24px;
    top: 24px;
    margin-bottom: 10px;
}
.whyus-title{
    font-weight: bold;
}
.testimonial{
    /* background-color: yellow; */
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
}
.testimonial .testimonial-content{
    text-align: center;
}
.testimonial .photo{
    margin-top: 50px;
}
.testimonial .profile-name{
    font-weight: bold;
}
.carousel-item .card{
    text-align: justify;
}
.carousel-button{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.carousel-control{
    width: 30px;
    height: 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-left: 50px;
    margin-right: 50px;
}
.carousel-control:hover{
    background: #5CB85F;
}
.tombol-crsl {
    width: 15px;
    height: 15px;
}

.rent-car{
    padding: 100px;
    color: white;
}
.rent-car .rent-card{
    background-color: #0D28A6;
    text-align: center;
    padding: 120px;
} 
.faq .faq-content{
    padding-left: 100px;
    padding-top: 40px;
    text-align: justify;
}
.faq .faq-question{
    padding-right: 100px;
    padding-bottom: 50px;
    padding-top: 20px;
}
.faq-question p{
    width: 500px;
    height: 40px;
    padding: 3px;
    border-radius: 10px;
}
.faq-question img{
    justify-items: flex-end;
}
.accordion-item{
    margin-top: 20px;
    margin-bottom: 20px;
}
footer{
    padding-top: 20px;
    /* background-color: green; */
    padding-left: 100px;
    padding-right: 100px;
    text-align: justify;
}
footer .address {
    padding-left: 100px;
}
footer a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
footer img{
    margin-right: 10px;
}

.card-car .card{
    display: flex;
    text-align: justify;
    width: 20rem;
    padding: 15px;
    margin-left: 100px;
}

.card-car .card-img-top{
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.card-car .btn{
    display: flex;
    justify-content: center;
    width: 294.5px;
    background-color: #5CB85F !important;
    padding-bottom: 10px;
}

.card .ikon{
    margin-right: 10px;
}